.round-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}

.round-button:hover {
    background-color: red;
}

@media only screen and (max-width: 600px) {
    .round-button {
        border-radius: 0;
    }
}

.container>p {
    color: red;
}



.header { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.left { grid-area: left; }
.right { grid-area: right; }
.footer { grid-area: footer; }

.grid-container {
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'menu main main main main main'
        'menu left left right right right'
        'footer footer footer footer footer footer';
    gap: 10px;
    background-color: red;
    padding: 10px;
}

.grid-container>div {
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.table1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.table1-item {
    background-color: white;
    border: 1px solid #000000;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


.flex1 {
    display: flex;
    background-color: DodgerBlue;
    flex-direction: row-reverse;

    .item {
        background-color: red;
        color: black;
        padding: 20px;
        margin: 5px;
        font-size: 20px;
        border: 1px solid #000;
    }
}

.flex2 {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    padding: 10px;

    .item {
        background-color: white;
        margin: 10px;
        padding: 20px;
        width: 50px;
        text-align: center;
        border: 1px solid #ccc;
    }
}

.flex3 {
    display: flex;
    height: 300px;
    background-color: DodgerBlue;
    justify-content: center;
    align-items: center;
}

.flex3 .item-center {
    width: 50px;
    height: 50px;
    background-color: white;
}